@import 'tailwindcss';

html,body{
  overflow: hidden;
  background-color: black;
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.mastShadow {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 
              0px 1px 0px 0px rgba(25, 28, 33, 0.02), 
              0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

.mastWhiteShadow {
  box-shadow: 0px 2px 3px -1px rgba(238, 233, 233, 0.884), 
              0px 1px 0px 0px rgba(20, 224, 224, 0.89), 
              0px 0px 0px 1px rgba(21, 133, 245, 0.959);
}







@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}
